.wrapper {
  width: 63%;
  max-height: 40vh;
  overflow-y: auto;
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  padding: 20px;
  border-radius: 14px;
  border: 1px solid #eee;
  margin-bottom: 15px;
}

.image {
  width: 70px;
  height: 70px;
  object-fit: contain;
  background: #f5f6ff;
  border-radius: 10px;
  padding: 10px;
}

.details {
  flex: 1;
  margin-left: 20px;
}

.details h3 {
  font-size: 16px;
  margin-bottom: 4px;
}

.added {
  font-size: 12px;
  color: #777;
  display: block;
  margin-bottom: 6px;
}

.details p {
  font-weight: bold;
  font-size: 16px;
}

.actions {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #f3f3ff;
  padding: 6px 12px;
  border-radius: 10px;
}

.actions button {
  border: none;
  background: transparent;
  font-size: 16px;
  cursor: pointer;
}

.empty {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}