.card {
  display: flex;
  gap: 20px;
  background: white;
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #eee;
}

.image {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.info {
  flex: 1;
}

.qty {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.qty button {
  padding: 5px 12px;
  background: #6c4eff;
  color: white;
  border: none;
  border-radius: 6px;
}

.removeBtn {
  margin-top: 10px;
  background: red;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
}

.empty {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}