.cartBtn {
  background: orange;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s;
}

.cartBtn:hover {
  opacity: 0.9;
  transform: translateY(-1px);
}