.container {
  padding: 20px 40px;
  margin-top: 40px;
}

.container h2 {
  margin-bottom: 15px;
}

.row {
  display: flex;
  gap: 20px;
  overflow-x: hidden;
  scroll-behavior: smooth;
  padding-bottom: 10px;
}