.cartBtn {
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  border: 2px solid orange;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s;
   white-space: nowrap; 
}

.cartBtn:hover {
  opacity: 0.9;
  transform: translateY(-1px);
}